* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--navyblue);
    font-family: "Poppins", sans-serif;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #000;
    --white: #fff;
    --navyblue: #0f172a;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.green {
    background-color: green;
}

.yellow {
    background-color: #beca1a;
}

.red {
    background-color: red;
}

svg {
    width: 20px;
    height: auto;
    margin: 0;
    cursor: pointer;
    overflow: visible;

    polygon,
    path {
        transition: all 0.5s cubic-bezier(.2, 1, .3, 1);
        fill: #ddd;
    }

    &:hover polygon,
    &:hover path {
        transition: all 1s cubic-bezier(.2, 1, .3, 1);
        fill: var(--white);
    }

    &:hover .arrow {
        animation: arrow-anim 2.5s cubic-bezier(.2, 1, .3, 1) infinite;
    }

    &:hover .arrow-fixed {
        animation: arrow-fixed-anim 2.5s cubic-bezier(.2, 1, .3, 1) infinite;
    }
}


@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    5% {
        transform: translateX(-0.1rem);
    }

    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }

    20% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

#navBar {
    height: max-content;
    max-width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0px;
}


.nav_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 70px;
    max-width: 1200px;
    padding: 25px 40px 15px;
    margin: auto;
    transition: all 300ms ease;
}

#navBar.fixed {
    background-color: rgb(51 62 77 / 60%);
}

.nav_Container>a {
    font-size: 26px;
    font-weight: 600;
    color: var(--white);
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    font-family: "Anta", sans-serif;
    user-select: none;
}

body>section {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 20px 40px 0;
    margin: auto;
}

section.advFilters {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 85px 40px 20px;
    margin: auto;
}

.contWrap {
    margin-bottom: 40px;
}

.contWrap:last-child {
    margin-bottom: 0;
}

.titlePage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pages {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pages strong {
    width: 36px;
    height: 36px;
    color: var(--white);
    font-size: 15px;
    line-height: 36px;
    font-weight: 500;
    background-color: #333e4d;
    padding: 0 1px 0 0;
    border-radius: 50%;
    text-align: center;
    user-select: none;
}

.titlePage h2 {
    color: var(--white);
    user-select: none;
}

#photoGallery .titlePage h2 {
    padding: 0 5px;
}

.contWrap ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px 28px;
    user-select: none;
}

.contWrap ul li {
    position: relative;
    width: 100%;
    max-width: 18%;
    height: max-content;
    min-height: 400px;
    background-color: #182440;

    padding: 0;
    margin: 10px 0;
    border: dotted 3px #333e4d;
    border-radius: 10px;
    transition: all 300ms ease;
    cursor: pointer;
    list-style: none;
}

.contWrap ul li:hover {
    scale: 1.04;
    box-shadow: 2px 2px 2px 2px #99838317;
}

.contWrap ul li .rating {
    position: absolute;
    display: block;
    width: max-content;
    border-radius: 30px;
    color: var(--white);
    font-size: 16px;
    left: 0;
    right: 0;
    top: -10px;
    margin: auto;
    padding: 2px 10px;
    z-index: 1;
}

.contWrap ul li img {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
    border-bottom: solid 1px #273446;
    border-radius: 10px 10px 0 0;
}

.mainTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
    padding: 0 10px;
    flex-wrap: wrap;
}

.contWrap ul li .mainTitle strong {
    font-size: 16px;
    line-height: 23px;
    color: var(--white);
    padding: 0;
    font-weight: 500;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contWrap ul li .mainTitle strong span {
    font-size: 12px;
    color: var(--white);
    position: relative;
    top: -1px;
}

.contWrap ul li h3 {
    font-size: 12px;
    color: var(--white);
    padding: 0 10px;
    font-weight: 400;
    margin: 5px 0 10px;
    line-height: 19px;
}

.hiddenInfo {
    display: none;
}

.mainPop {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    background-color: var(--navyblue);
    padding: 0;
    margin: 0 auto;
    gap: 50px;
}

section#popup_Warp {
    position: fixed;
    z-index: 111;
    width: 100%;
    max-width: 100%;
    height: 100%;
    bottom: 0;
    padding: 0;
    background-color: rgb(0 0 0 / 90%);
}

.advFilters {
    position: relative;
    width: 100%;
    height: max-content;
    max-height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 25px;
    border-radius: 10px;
    gap: 15px 0;
    transition: all 300ms ease;

}

.advFilters .popSearchInp {
    position: relative;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--navyblue);
    color: var(--white);

    background: #213053;
    border: 2px solid #283a64;
}


.advFilters .popSearchInp::placeholder {
    color: #efefef;
}

.advFilters>button.filterbtn {
    width: 18%;
    max-width: 100%;
    background: #213053;
    border: 2px solid #283a64;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}

.invalidText {
    position: absolute;
    bottom: -15px;
    color: #fff;
    padding: 2px 20px;
    border-radius: 10px;
    font-size: 12px;
    left: 230px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;

}

.invalidText strong {
    position: relative;
    font-weight: 500;
}

.arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.advFilters>select {
    width: 100%;
    max-width: 30%;
    border: 1px solid var(--navyblue);
    outline: unset;
    padding: 11px 10px;
    border-radius: 5px;
    color: #efefef;
    background: #213053;
    border: 2px solid #283a64;


    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 6px;
}

.playerClose {
    width: 100%;
    max-width: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 11;
}

.mainPop .videoLink {
    position: relative;
    width: 100%;
    max-width: max-content;
    height: auto;
}

.mainPop .videoLink::after {
    content: "";
    position: absolute;
    background: url(./images/play.png) no-repeat;
    background-size: contain;
    width: 55px;
    height: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(2px 4px 6px black);
}

.mainPop img[alt="Movie Img"] {
    width: 240px;
    min-height: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #1f1d1d;
    filter: brightness(0.7);
}

.movieContent * {
    color: var(--white);
}

.title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 0 20px 0;
}

.title h2 {
    font-size: 32px;
    line-height: 32px;
}

.title img.adultContext {
    max-width: 15px;
    margin-top: 3px;
}

img.adultContext.underRated {
    max-width: 30px;
    margin-top: -30px;
}

p.releaseDate {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

p.releaseDate span {
    font-size: 15px;
    font-weight: 400;
}

strong.genres {
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
}

p.overview_context {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 20px;
}

h3.rating {
    font-size: 16px;
}

.ytFrameBody {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 500px;
    border: 5px solid var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
}

.notFound {
    display: block;
    text-align: center;
    margin: 150px auto 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.novideo,
.noimgs,
.nodata {
    display: block;
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.breadcrumb {
    font-size: 14px;
    max-width: 1200px;
    margin: 10px auto 15px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb a.homePage {
    cursor: pointer;
}

.breadcrumb a.activePage {
    text-transform: capitalize;
}

.galleryWrap::-webkit-scrollbar {
    background: #172441;
    height: 10px;
    border-radius: 30px;
    scroll-behavior: smooth;
}

.galleryWrap::-webkit-scrollbar-thumb {
    background: #273b66;
    border-radius: 100px;
    height: 10px;
    padding: 0;
}

.galleryWrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    min-height: 180px;
}

.galleryWrap img {
    max-width: 25%;
    margin: 5px 5px 5px 0px;
    width: 100%;
    min-height: 160px;
    min-width: 275px;
    background-color: #0c0c26;
    border-radius: 10px;
    padding: 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    cursor: pointer;
}

.galleryWrap>div {
    position: relative;
    max-width: 25%;
}

.galleryWrap>div:before {
    content: "";
    position: absolute;
    background: url(./images/play.png) no-repeat;
    background-size: contain;
    width: 55px;
    height: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(2px 4px 6px black);
    pointer-events: none;
}

.videoWrap img {
    cursor: pointer;
    object-fit: contain;
}

.imgTabs,
.videoTabs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px auto 25px;
    padding: 0 0px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.imgTabs button,
.videoTabs button {
    border: 2px solid #494444;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 6px 25px;
    font-family: sans-serif;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.imgTabs button:hover,
.videoTabs button:hover {
    background-color: #0d0b1b;
}

.imgTabs button.active,
.videoTabs button.active {
    background-color: #fff;
    color: #0d0b1b;
    border-color: #fff;
    font-weight: 600;
}

img.fullSizegallery {
    width: 100%;
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    user-select: none;
    background-color: #000;
}

img.arrows {
    position: absolute;
    z-index: 11;
    width: 35px;
    height: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    user-select: none;
}

img.left-item {
    left: 22px;
}

img.right-item {
    right: 22px;
}


@media(max-width: 1200px) {
    .contWrap ul {
        gap: 0;
        justify-content: space-between;
    }
}

@media(max-width:800px) {
    .galleryWrap::-webkit-scrollbar {
        height: 6px;
    }

    #navBar {
        position: relative;
    }

    .breadcrumb {
        padding: 5px 0;
        margin-bottom: 5px;
        margin-top: 0;
        align-items: flex-start;
    }

    .breadcrumb a.activePage {
        max-width: 200px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    svg {
        width: 15px;
    }

    .nav_Container {
        padding: 20px;
        min-height: 50px;
    }

    .nav_Container>a {
        font-size: 26px;
    }

    .titlePage h2 {
        font-size: 18px;
    }

    #mainWrap {
        padding: 20px 20px 0;
        margin-bottom: -100px;
    }

    section#videoGallery{
        margin-bottom: 10px;
    }

    section.advFilters {
        padding: 0px 20px 10px;
    }

    .titlePage {
        margin-bottom: 20px;
    }

    .contWrap ul {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .contWrap ul li {
        max-width: 48%;
        cursor: unset;
        min-height: 340px;
        max-height: 340px;
    }

    .contWrap ul li h3.genre {
        display: none;
    }

    .pages strong {
        width: 28px;
        height: 28px;
        font-size: 12px;
        line-height: 28px;
    }

    .mainPop {
        max-height: max-content;
        overflow-y: auto;
        flex-wrap: wrap;
        border-radius: 0;
        gap: 25px;
    }

    .mainPop::-webkit-scrollbar {
        display: none;
    }

    .mainPop img[alt="Movie Img"] {
        max-width: 150px;
        min-height: 225px;
        height: auto;
    }

    .title {
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 10px;
    }

    .title h2 {
        font-size: 20px;
        line-height: 1.6em;
    }

    .title img.adultContext {
        max-width: 14px;
        margin-top: 7px;
    }

    img.adultContext.underRated {
        max-width: 25px;
        margin-top: -15px;
    }

    p.releaseDate {
        font-size: 14px;
        margin-bottom: 10px;
    }

    strong.genres {
        font-size: 15px;
        line-height: 21px;
    }

    p.overview_context {
        line-height: 19px;
        display: block;
        font-size: 14px;
    }

    h3.rating {
        font-size: 14px;
    }

    .filterClose,
    .playerClose {
        right: 15px;
        top: 15px;
        max-width: 30px;
    }

    .contWrap ul li .rating {
        font-size: 14px;
    }

    .contWrap ul li .mainTitle strong {
        font-size: 15px;
        font-weight: 600;
    }

    .mainPop .videoLink::after {
        width: 40px;
        height: 30px;
    }

    .mainPop .videoLink {
        width: max-content;
    }

    .ytFrameBody {
        width: calc(100% - 30px);
        max-height: 185px;
        border: 2px solid var(--white);
    }

    .contWrap {
        margin-bottom: 20px;
    }

    .advFilters .popSearchInp {
        width: 100%;
        padding: 8px 15px;
        font-size: 14px;
        height: 35px;
    }

    .advFilters>select {
        background-position-y: 4px;
        max-width: 60%;
        padding: 8px 15px;
    }

    .advFilters>button.filterbtn {
        width: 38%;
        padding: 8px 10px;
    }

    body>section {
        padding: 20px 20px 0;
    }

    .notFound {
        margin: 120px auto 0;
        font-size: 16px;
    }

    .contWrap ul li img {
        min-height: 240px;
        max-height: 240px;
    }

    .imgTabs,
    .videoTabs {
        font-size: 17px;
        flex-wrap: wrap;
        margin: 15px auto 15px;
        gap: 5px;
    }

    .imgTabs strong,
    .videoTabs strong {
        font-size: 20px;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .imgTabs button,
    .videoTabs button {
        padding: 4px 15px;
        font-size: 13px;
    }

    .galleryWrap>div {
        max-width: min-content;
    }

    img.arrows {
        width: 25px;
        height: 25px;
    }

    img.left-item {
        left: 10px;
    }

    img.right-item {
        right: 10px;
    }

    img.fullSizegallery {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    section#popup_Warp {
        background-color: rgb(0 0 0 / 95%);
    }

    .novideo, .noimgs, .nodata {
        margin: 50px auto;
    }

}